/* ---------------------------------- Commun Styles ---------------------------------- */

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: black;
}

.section {
  color: white;
  height: 90vh;
  width: 100%;
  background-color: black;
}

.my-name {
  background: -webkit-linear-gradient(left, #fc03c6, #6b03fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.my-img {
  border-radius: 100%;
  width: 100%;
}

/* ---------------------------------- Navigation Styles ---------------------------------- */

.header {
  height: 10vh;
}

/* ---------------------------------- Intro Styles ---------------------------------- */

.description {
  font-size: 20px;
}

/* ---------------------------------- Experience Styles ---------------------------------- */

/* ---------------------------------- Contact Styles ---------------------------------- */

.contact-section {
  height: 40vh;
  width: 100%;
  color: white;
  padding: 2%;
  padding-left: 13%;
}

.contact-container {
  display: flex;
  gap: 20%;
  padding-left: 10%;
}

.contact-info {
  font-size: 3rem;
  margin-bottom: 40px;
}

.contact-item2 {
  align-items: center;
}

.contact-email {
  margin-bottom: 0;
  font-size: 20px;
}

/* ---------------------------------- Footer Styles ---------------------------------- */

.footer-section {
  height: 6vh;
  width: 100%;
  display: flex;
}

.footer-name {
  text-transform: uppercase;
  transform: translateY(30%);
  margin-left: 20px;
}

.footer-icon {
  /* color: white; */
  transform: translateY(38%);
  margin-left: 20px;
}

.footer-copyright {
  /* color: white; */
  transform: translateY(40%);
  margin-left: 5px;
}
