/* ---------------------------------- Commun Styles ---------------------------------- */

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: black;
}

.section {
  color: white;
  height: 90vh;
  width: 100%;
  background-color: black;
}

.my-name {
  background: -webkit-linear-gradient(left, #fc03c6, #6b03fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.my-img {
  border-radius: 100%;
  width: 100%;
}

/* ---------------------------------- Navigation Styles ---------------------------------- */

.header {
  height: 10vh;
}
